<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body"></div>
        <h1>Formulario</h1>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Position</th>
          <th scope="col">Office</th>
          <th scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeSvc.employees">
          <th>{{ employee.name }}</th>
          <td>{{ employee.position }}</td>
          <td>{{ employee.office }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
