<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <form class="m-2" #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
          <input type="hidden" name="_id" [(ngModel)]="employeeSvc.selectedEmployee._id">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="FullName"
              name="name"
              [(ngModel)]="employeeSvc.selectedEmployee.name"
              >
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Position"
              name="position"
              [(ngModel)]="employeeSvc.selectedEmployee.position"
              >
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Office"
              name="office"
              [(ngModel)]="employeeSvc.selectedEmployee.office"
              >
          </div>
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Salary"
              name="salary"
              [(ngModel)]="employeeSvc.selectedEmployee.salary"
              >
          </div>
          <button class="btn btn-primary m-2" (click)="resetForm(employeeForm)">Clear</button>
          <button class="btn btn-secondary m-2">Save</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Position</th>
          <th scope="col">Office</th>
          <th scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeSvc.employees">
          <th>{{ employee.name }}</th>
          <td>{{ employee.position }}</td>
          <td>{{ employee.office }}</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm m-1" (click)="putEmployee(employee)">
              <i class="material-icons">edit</i>
            </button>
            <button type="button" class="btn btn-danger btn-sm m-1" (click)="deleteEmployee(employee._id || '')">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
